<nav class="com-navbar pjax">
    <a href="/" style="color: black">
        <h1>网上招聘系统</h1>
    </a>
    <div class="float-left"></div>
    <ul>
        {% for item in globalContext.getNavItems(handler) %}
            <li class="com-navbar-item">
                <a href="{{ item.routePath }}">{{ item.name }}</a>
            </li>
        {% endfor %}
    </ul>
    <div class="com-loggeduser" style="width: 200px">
        {% if loggedUser %}
            <span class='com-dropdown'>
                <span>登录用户:</span>
                <a class='com-dropdown-trigger' href="/user/{{ loggedUser._id }}">{{ loggedUser.userName }}</a>
                <ul class="com-dropdown-content">
                    <li>asd</li>
                    <li>asd</li>
                    <li>asd</li>
                </ul>
            </span>
            <a href="/logout">
                注销
            </a>
        {% else %}
            <a href="/login">
                请登录
            </a>
        {% endif %}
    </div>
    <div class="clear-float" style="display: none"></div>
</nav>