<nav class="com-navbar pjax">
    <a href="/" style="color: black">
        <h1>网上招聘系统</h1>
    </a>
    <div class="float-left"></div>
    <ul>
        {% for item in globalContext.getNavItems(handler) %}
            <li class="com-navbar-item">
                <a href="{{ item.routePath }}">{{ item.name }}</a>
            </li>
        {% endfor %}
    </ul>
    <div class="com-loggeduser">
        {% if loggedUser %}
            <div class='com-dropdown'>
                <span>用户:</span>
                <a class='com-dropdown-trigger' href="/user/{{ loggedUser._id }}">{{ loggedUser.userName }}</a>
                <ul class="com-dropdown-content">
                    <li>
                        <a href="/user/{{ loggedUser._id }}">
                            我的资料
                        </a>
                    </li>
                    <li>
                        <a href="/logout">
                            注销
                        </a>
                    </li>
                </ul>
            </div>
        {% else %}
            <a href="/login">
                请登录
            </a>
        {% endif %}
    </div>
    <div class="clear-float" style="display: none"></div>
</nav>