{% extends './partials/layouts/basic.html' %}
{% block head %}
<link rel="stylesheet" href="/css/form.css">
{% endblock %}
{% block content %}
<div class="app">
    <div class="section" style="width: 50%">
        <div class="section-header" style="width: 60%;margin: 0 auto">
            <h1>欢迎进入网上招聘系统</h1>
        </div>
        <div class="section-content">
            {% if context.loggedUser %}
                <h3>你好，{{ context.loggedUser.userName }}</h3>
                <h4>点击上方导航栏使用本系统!</h4>
            {% else %}
                <h3>您还未登录，请先登录！</h3>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}