{% extends './partials/layouts/basic.html' %}
{% block head %}
<link rel="stylesheet" href="/css/form.css">
<style>
    .form-textarea {
        width: 100%;
        min-height: 50px;
        max-height: 200px;
        resize: vertical
    }
</style>
{% endblock %}
{% block content %}
<div class="app">
    <div class="section">
        <div class="section-header">
            <h1>添加题目</h1>
        </div>
        <div class="section-content">
            <div style="width: 50%;margin: 0 auto;">
                {% block form %} {% endblock %}
            </div>
        </div>
    </div>
</div>
{% endblock %}