{% extends './partials/layouts/basic.html' %}
{% block head %}
<link rel="stylesheet" href="/css/form.css">
{% endblock %}
{% block content %}
<div class="app">
    <div class="section">
        <div class="section-header">
            <h1>添加题目</h1>
        </div>
        <div class="section-content">
            <div style="width: 50%;margin: 0 auto;">
                <form action="/problems/add" method="post">
                    <div class="form-row">
                        <p>题目名称</p>
                        <input type="text" name="name" placeholder="题目名称" autofocus>
                    </div>
                    <div class="form-row">
                        <p>选择题目类型</p>
                        <select name="problemType" id="problemType_Selection">
                            <option value="SingleChoice">单项选择题</option>
                            <option value="MultipleChoice">多项选择题</option>
                            <option value="ShortAnswer">简答题</option>
                        </select>
                    </div>
                    <div id="problemForm"></div>
                    <div class="form-row text-center" style="margin: 20px auto">
                        <input type="submit" class="com-button" value="添加">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script>
    const SingleChoiceTemplate =
        `
<div class="form-row">
    <p>题目名称</p>
    <input type="text" name="name" placeholder="输入题目名称..." autofocus>
</div>
<div class="form-row">
    <p>选项</p>
    <input type="text" style="width: 70%" placeholder="输入选项描述..." autofocus>
    <button class="com-button" style="display: inline-block;width: 20%" id="addOptionBtn">+</button>
</div>
`
    $(`#problemType_Selection`).change(() => {
        const option = $("#problemType_Selection option:selected")
        const problemForm = $('#problemForm')
        problemForm.empty()
        switch (option.val()) {
            case 'SingleChoice': {
                problemForm.append($(SingleChoiceTemplate))
            }
            case 'MultipleChoice': {

            }
            case 'ShortAnswer': {

            }
        }
    })
</script>
{% endblock %}