{% extends './problems_add.html' %}
{% block form %}
<div id="vue-app">
    <form action="/problems/add/multiplechoice" method="post">
        <!--    <input type="hidden" name="problemType" value="MultipleChoice">-->
        <div class="form-row">
            <p>题目名称</p>
            <input type="text" name="name" placeholder="题目名称" autofocus>
        </div>
        <div class="form-row">
            <p>题目描述</p>
            <textarea name="desc" placeholder="题目描述" rows="3" class="form-textarea" autofocus></textarea>
        </div>
        {% raw %}
        <div class="form-row" v-for="(item,idx) in options">
            <p>选项{{ idx + 1 }}</p>
            <input type="text" name="options" v-model.trim:value="item.desc" key="idx" placeholder="选项描述" autofocus>
        </div>
        <div class="form-row" style="margin: 20px auto">
            <input type="button" class="com-button" value="添加选项" @click="addOption">
            <span style="margin-left: 10px">正确答案: </span>
            <select name="answer" style="margin-left: 10px">
                <option :value="idx" v-for="(item,idx) in options">选项{{ idx + 1 }}</option>
            </select>
        </div>
        {% endraw %}
        <div class="form-row text-center" style="margin: 20px auto">
            <input type="submit" class="com-button" value="添加">
        </div>
    </form>
</div>
{% raw %}
<script>
    const problem = {
        data() {
            return {
                options: [
                    {idx: 1, desc: ""},
                    {idx: 2, desc: ""},
                    {idx: 3, desc: ""},
                    {idx: 4, desc: ""}
                ],
                answer: null
            }
        },
        methods: {
            addOption() {
                this.options.push({idx: this.options.length, desc: ""})
            },
        }
    }
    Vue.createApp(problem).mount('#vue-app')
</script>
{% endraw %}
{% endblock %}