{% extends './problems_add.html' %}
{% block form %}
<form action="/problems/add" method="post">
    <input type="hidden" name="problemType" value="SingleChoice">
    <div class="form-row">
        <p>题目名称</p>
        <input type="text" name="name" placeholder="题目名称" autofocus>
    </div>
    <div class="form-row">
        <p>题目描述</p>
        <textarea name="desc" placeholder="题目描述" rows="3" class="form-textarea" autofocus></textarea>
    </div>
    <div class="form-row">
        <p>选项A</p>
        <input type="text" name="options[]" autofocus>
    </div>
    <div class="form-row">
        <p>选项B</p>
        <input type="text" name="options[]" autofocus>
    </div>
    <div class="form-row">
        <p>选项C</p>
        <input type="text" name="options[]" autofocus>
    </div>
    <div class="form-row">
        <p>选项D</p>
        <input type="text" name="name" autofocus>
    </div>
    <div class="form-row text-center" style="margin: 20px auto">
        <input type="submit" class="com-button" value="添加">
    </div>
</form>
{% endblock %}