{% import "../../macros/user_render.njk" as userMacro %}
{% import "../../macros/form_render.njk" as formMacro %}

{% if not usePjax %}
    {% extends './html.njk' %}
{% endif %}

{% block htmlBody %}
    {% block header %}
        {% include '../components/nav.njk' %}
    {% endblock %}
    <div class="app">
        {% block content %} {% endblock %}
    </div>
    {% block footer %}
        {% include '../components/footer.njk' %}
    {% endblock %}
{% endblock %}