<!doctype html>
<html lang="zh" page-name="{{ pageName }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ pageTitle }}</title>
    <script>
      window.UIContext = JSON.parse(`{{ UIContext | dump | d('{}') | safe }}`);
      window.renderTime = {{ handler.__renderTime | timeDiff | d(0) | safe }};
      window.handleTime = {{ handler.__renderTime - handler.__handleTime | d(0) | safe }};
    </script>
    <script src="{{ staticFilesMap['/main.js'] | d('/main.js') }}"></script>
    <script src="{{ staticFilesMap['/chunk-vendors.js'] | d('/chunk-vendors.js') }}"></script>
{#    <script src="{{ staticFilesMap['/chunk-vendors.js'] | d('/chunk-vendors.css') }}"></script>#}
    <link rel="stylesheet" href="{{ staticFilesMap['/main.css'] | d('/main.css') }}">
    {% block head %} {% endblock %}
</head>
<body>
{% block htmlBody %}{% endblock %}
</body>
</html>