.com-button
  width: 100px;
  height: 40px;
  color: white;
  background-color: #9dc5df;
  border-radius: 5px;
  border-style: none;
  transition: all .25s;


.com-button:hover
  cursor: pointer;
  background-color: #69b3d0;
  box-shadow: 0 0 3px #cbf2f2;
  transform: scale(1.05);


.com-navbar
  width: 100%;
  height: 50px;
  line-height: 50px;
  margin-bottom: 40px;
  background-color: white;
  box-shadow: 0 1px 1px #c4c4c4;


.com-navbar h1
  display: inline-block;
  margin: 0 10px 0 40px;


.com-navbar .com-loggeduser
  display: inline-block;
  float: right;
  margin-right: 40px;


.com-navbar ol
  display: inline-block;

.com-navbar li
  display: inline-block;
  list-style: none;
  transition: background-color .5s;


.com-navbar li:hover {
  background-color: #0e6d6d;
}

.com-navbar .com-navbar-item a
  color: #0e6d6d;
  text-decoration: none;
  transition: color .5s;
  padding: 0 5px 0 5px;
  color: #0e6d6d;
  line-height 50px


.com-navbar li:hover a
  color: white;


.com-footer
  width: 100%;
  margin-top: 40px;
  padding: 10px 0 10px 0;
  font-size: 10px;
  background-color: white;


.com-table
  width: 100%;
  border-collapse: collapse;

.com-table tr
  height: 40px;


.com-table tr:nth-child(odd)
  background-color: #f8f8f8;


.com-table th
  height: 50px;
  border-spacing: 0;
  border-style: solid;
  border-width: 0;
  border-bottom-width: 1px;
  border-color: #c9c9c9;
  background-color: white;

.com-table th:first-child
  border-left-width: 0;


.com-table th:last-child
  border-right-width: 0;


.com-hiddenform
  display: inline;


.com-ul-list li
  width: 100%;
  height: 100%;
  text-align: center;
  transition: background-color .5s;

  a
    display: block;
    height: 100%
    padding: 20px 20px;
    font-size 18px
    font-weight normal

.com-ul-list li:hover
  cursor: pointer;
  background-color: #c0d7c0;
