body
  margin: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #f8f8f8;


textarea
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;


a
  color: #00B7FF;


input
  width: 100%;


form
  width: 100%;


ol
  margin: 0;
  padding: 0;


ul
  padding: 0;
  list-style: none;


.app
  width: 100%;
  margin: 0 auto;

  @media screen and (min-width 400px)
    width: 100%;

  @media screen and (min-width 900px)
    width: 80%;

  @media screen and (min-width 1400px)
    width: 60%;

.clear-float
  clear: both;


.float-left
  float: left;


.float-right
  float: right;
