$color-border-light = #cbcbcb

$color-button-normal = #9dc5df
$color-button-hover = #69b3d0
$color-button-active = #508ca2
$color-shadow-dark = #b0b0b0
$color-shadow-light = #e6e6e6
$color-primary = #78bbe9
$color-nav-item-hover = #15a9a9
$color-nav-item-active = #0e6d6d
$color-a-tag = #1692c6