$color-primary = #78bbe9

$color-border-light = #cbcbcb

$color-button-normal = #9dc5df
$color-button-hover = #69b3d0
$color-button-active = #508ca2

$color-shadow-dark = #b0b0b0
$color-shadow-light = #e6e6e6

$color-nav-item-hover = #73a3a3
$color-nav-item-active = #128787
$color-nav-item-active-line = #4c6d9b

$color-a-tag = #515151
$color-a-tag-hover = #7dd9ff
$color-a-tag-active = #000000