.com-button
  min-width 100px
  height 40px
  color white
  background-color $color-button-normal
  border-radius 5px
  border-style none
  transition all .2s

  &:hover
    cursor pointer
    background-color $color-button-hover
    box-shadow 0 0 5px $color-shadow-dark

  &:active
    background-color $color-button-active

.com-navbar
  width 100%
  height 50px
  line-height 50px
  margin-bottom 40px
  background-color white
  box-shadow 0 3px 5px $color-shadow-light

  h1
    display inline-block
    margin 0 10px 0 40px

  .com-loggeduser
    display inline-block
    float right
    margin-right 40px


  ul
    display inline-block
    padding 0
    margin 0

  li
    display inline-block
    list-style none
    transition background-color .5s
    border-radius 10px

    &:hover
      background-color $color-nav-item-hover
      transition background-color .25s

      a
        display inline-block
        color white

      &:active
        background-color $color-nav-item-active


  .com-navbar-item
    a
      color #0e6d6d
      text-decoration none
      transition color .5s
      padding 0 5px 0 5px
      line-height 50px

.com-footer
  width 100%
  margin-top 40px
  padding 10px 0 10px 0
  font-size 10px
  background-color white


.com-table
  width 100%
  border-collapse collapse

  tr
    height 40px

  tr:nth-child(odd)
    background-color #f8f8f8

  th
    height 50px
    border-spacing 0
    border-style solid
    border-width 0
    border-bottom-width 1px
    border-color #c9c9c9
    background-color white

  th:first-child
    border-left-width 0

  th:last-child
    border-right-width 0


.com-hiddenform
  display inline


.com-ul-list
  li
    width 100%
    height 100%
    text-align center
    transition background-color .5s

  a
    display block
    height 100%
    padding 20px 20px
    font-size 18px
    font-weight normal

  li:hover
    cursor pointer
    background-color #c0d7c0

.com-box
  box-shadow 0 1px 4px #b5b5b5
  border-radius 5px