mobile()
  @media screen and (max-width $width-mobile)
    {block}

tablet()
  @media screen and (min-width $width-tablet) and (max-width $width-desktop)
    {block}

desktop()
  @media screen and (min-width $width-desktop)
    {block}