.section
  margin 0 auto
  margin-bottom 20px
  padding 20px 20px 20px 20px
  background-color white
  border-radius 10px
  box-shadow 0 1px 5px #e3e3e3

  +mobile()
    border-radius 0
    box-shadow none

  .section-content
    color #0e6d6d
    margin 0 auto

  .section-header
    margin 0 auto
    color #0e6d6d
    h1
      padding-bottom 15px

  .section-footer
    font-size 12px
    color #0e6d6d
