$width-mobile = 600px
$width-tablet = 900px
$width-desktop = 1200px

$navbar-height = 50px

$scrollbar-width = 8px
$scrollbar-thumb-color = #bebebe
$scrollbar-background-color = #fff

$body-background-color = #eff8f8