.com-button
  min-width 100px
  height 40px
  color white
  background-color $color-button-normal
  border-radius 5px
  border-style none
  transition all .2s

  &:hover
    cursor pointer
    background-color $color-button-hover
    box-shadow 0 0 5px $color-shadow-dark

  &:active
    background-color $color-button-active