.com-dropdown
  display inline-block
  position: relative;

  .com-dropdown-content
    display none
    position: absolute;
    right 0
    box-shadow: 0 4px 8px 0 #cecece;
    background-color #fff

    & > li
      transition background-color .3s

      &:hover
        background-color #dedede

      & > a
        display inline-block
        width max-content
        padding 3px 20px
        padding-right 40px
        text-decoration none
        color black

  &:hover .com-dropdown-content
    display block

  .com-dropdown-trigger
    cursor: pointer;




