{% extends './partials/layouts/basic.njk' %}
{% block content %}
    <div class="section" style='{% if not globalContext.devMode %} width: 60% {% endif %}'>
        <div class="section-header text-center">
            <h1>错误: {{ error.status }}</h1>
        </div>
        <div class="section-content">
            <h2>{{ error.message | d('服务器错误') }}</h2>
        </div>
        {% if globalContext.devMode %}
            <div class="section-footer">
                <pre>{{ error.stack }}</pre>
            </div>
        {% endif %}
    </div>
{% endblock %}