{% extends './partials/layouts/basic.njk' %}
{% block content %}
    <div class="section" style="width: 50%">
        <div class="section-header" style="width: 80%;margin: 0 auto">
            <h1>{{ title }}</h1>
        </div>
        <div class="section-content text-center">
            <p>{{ msg }}</p>
            <a href="{{ referer }}">
                <div id="vue-counter"></div>
            </a>
        </div>
    </div>
{% endblock %}