{% extends './partials/layouts/basic.njk' %}
{% block content %}
    <div class="section">
        <div class="section-header">
            <h1>共{{ pList.length | d(0) }}份职位</h1>
            <a href="/positions/add">
                <button class="com-button">添加职位</button>
            </a>
        </div>
        <div class="section-content">
            <table class="com-table">
                <th class="text-left">序号</th>
                <th class="text-left">职位名称</th>
                <th class="text-left">创建者</th>
                <th class="text-left">应聘人数</th>
                <th class="text-left">通过人数</th>
                <th class="text-left">通过率</th>
                <th class="text-left">操作</th>
                {% if pList %}
                    {% for item in pList %}
                        <tr>
                            <td>{{ loop.index }}</td>
                            <td>
                                <a href="/">{{ item.name }}</a>
                            </td>
                            <td>{{ userMacro.userRender(uDict[item.createBy]) }}</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>
                                {{ formMacro.renderPostTag('position_del','删除',item._id, '/positions/delete/'+ item._id) }}
                            </td>
                        </tr>
                    {% endfor %}
                {% endif %}
            </table>
        </div>
    </div>
{% endblock %}