{% extends './partials/layouts/basic.njk' %}
{% block content %}
    <div class="section">
        <div class="section-header">
            <h1>添加岗位</h1>
        </div>
        <div class="section-content">
            <div style="width: 50%;margin: 0 auto;">
                <form action="/positions/add" method="post">
                    <div class="form-row">
                        <p>岗位名称</p>
                        <input type="text" name="name" placeholder="岗位名称" autofocus>
                    </div>
                    <div class="form-row">
                        <p>岗位描述</p>
                        <textarea type="text" name="desc" placeholder="岗位描述" autofocus></textarea>
                    </div>
                    <div class="form-row text-center" style="margin: 20px auto">
                        <input type="submit" class="com-button" value="提交">
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}