{% extends './problems_add.njk' %}
{% block form %}
<div id="vue-app">
    <form action="/problems/add/singlechoice" method="post">
        <div id="vue-Form"></div>
    </form>
</div>
{% endblock %}