{% extends './partials/layouts/basic.njk' %}
{% block head %}
    <style>
        .problem-row {
            padding: 10px 0 10px 0;
        }
    </style>
{% endblock %}
{% block content %}
    <div class="section">
        <div class="section-header">
            <h1>题目: {{ pDoc.name }}</h1>
            <h3>创建时间: {{ pDoc.createTime | momentAgo }}</h3>
            <h3>创建人: {{ pDoc.createBy }}</h3>
        </div>
    </div>
    <div class='section'>
        <div class='section-content'>
            <div style="width: 80%;margin: 0 auto">
                <div class="problem-row">
                    <strong>
                        <span>{{ pDoc.desc }}</span>
                    </strong>
                </div>
                {% for item in pDoc.content.options %}
                    <div class="problem-row">
                        <input type='checkbox' {% if item.isAnswer %} checked {% endif %} disabled
                               style='vertical-align: middle'>
                        <span>{{ loop.index }}. {{ item.name }}</span>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}