{% extends './partials/layouts/basic.njk' %}
{% block head %}
    <style>
        .problem-row {
            padding: 10px 0 10px 0;
        }
    </style>
{% endblock %}
{% block content %}
    <div class="section">
        <div class="section-header">
            <h1>题目: {{ pDoc.name }}</h1>
            <p>创建时间: {{ pDoc.createTime | momentAgo }}</p>
            <p>创建人: {{ userMacro.userRender(uDoc) }}</p>
        </div>
    </div>
    <div class='section'>
        <div class='section-content'>
            <div style="width: 80%;margin: 0 auto">
                <div class="problem-row">
                    <h3>
                        {{ pDoc.desc }}
                    </h3>
                </div>
                <div class='problem-row'>
                    {% if pDoc.type === 'SingleChoice' %}
                        {% include "./partials/problem_detail_singlechoice.njk" %}
                        {% elif pDoc.type === 'MultipleChoice' %}
                        {% include "./partials/problem_detail_multiplechoice.njk" %}
                        {% elif pDoc.type === 'ShortAnswer' %}
                        {% include "./partials/problem_detail_shortanswer.njk" %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}