{% extends './partials/layouts/basic.njk' %}
{% block content %}
    <div class="section">
        <div class="section-header">
            <h1>试卷: {{ qDoc.name }}</h1>
            <p>ID: {{ qDoc._id }}</p>
            <p>创建人: {{ qDoc.createBy }}</p>
        </div>
    </div>
    <div class='section'>
        <div class="section-content">
            {% for item in qDoc.content %}
                <div class="form-row">
                    <h2>{{ loop.index }}. {{ item.name }}</h2>
                    <h3>{{ item.desc }}</h3>
                    <hr style="border-width: 0;border-bottom-width: 2px">
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}