{% extends './partials/layouts/basic.njk' %}
{% block content %}
    <div class="section">
        <div class="section-header">
            <h1>创建试卷</h1>
        </div>
        <div class="section-content">
            <div style="width: 50%;margin: 0 auto;">
                <form action="/questionnaire/add" method="post">
                    <div id='vue-addForm'></div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}