{% extends './partials/layouts/sidebar.njk' %}

{% block content_main %}
    <div class='section'>
        <div class='section-header'>
            <h1>系统管理</h1>
        </div>
        <div class='section-content'>
            <h6>请点击侧边栏选择功能</h6>
        </div>
    </div>
{% endblock %}
{% block content_sidebar %}
    {% include "./partials/manage_sidebar.njk" %}
{% endblock %}

