<div class='section'>
    <div class='section-content'>
        <ul class='com-ul-list'>
            <li>
                <a href='/manage'>首页</a>
            </li>
            <li>
                <a href='/manage/register'>注册用户</a>
            </li>
        </ul>
    </div>
</div>