body
  margin 0
  font 14px "Lucida Grande", Helvetica, Arial, sans-serif
  background-color #f8f8f8

  &::-webkit-scrollbar
    position absolute
    right 0
    width $scrollbar-width

  &::-webkit-scrollbar-thumb
    background-color $scrollbar-thumb-color
    border-radius $scrollbar-width

  &::-webkit-scrollbar-track
    background-color $scrollbar-background-color
    border-radius $scrollbar-width

